{% extends "base.html" %}
{% load static %}

{% block head %}
  {% block profile %}
  {% endblock %}
  <title>{{ user.get_full_name }}'s Profile</title>
  <link rel='stylesheet' href="{% static 'user/css/user.css' %}" />
{% endblock %}

{% block content %}
    <div id="profile-header-container">
        <div id="profile-header">
            <div id="profile-header-image-container">
                <div id="profile-header-image">
                    <img class="img-circle" src="{{ user.avatar.url }}" />
                </div>
                <span>{{ profile.get_full_name }}</span>
            </div>
            <div id="profile-header-info-container">
                <p id="member-status">Member since<br/><span>{{ profile.date_joined|date:"d M Y" }}</span></p>
                <span>
                    <span class="value">{{ profile.friendship.get_friends.count }}</span>
                    <span class="text">Friends</span>
                </span>
                <span>
                    <span class="value">{{ profile.video_set.all.count }}</span>
                    <span class="text">Videos</span>
                </span>
                <p id="user-status">
                    {% if status == 'friends' %}
                        You are already friends
                    {% elif status == 'already_sent_request' %}
                        Request pending
                    {% elif status == 'allow_send_request' %}
                        <a class="btn site-blue-button" href="#" onclick="sendRequest({{ profile.id }});updateStatus(this, 'sent');">Send request</a>
                    {% elif status == 'need_response' %}
                        <a class="btn site-blue-button" href="#" onclick="acceptRequest({{ request_id }});updateStatus(this, 'accepted');">Accept</a>
                        <a class="btn site-white-button" href="#" onclick="rejectRequest({{ request_id }});updateStatus(this, 'rejected')">Reject</a>
                    {% elif status == 'same_user' %}
                        <a class="btn site-blue-button" href="{% url 'user:edit' %}">Edit</a>
                    {% endif %}
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <nav id="menu">
        <ul class="menu">
            {% if status == 'same_user' %}
                <li><a id="watched" href=#>
                    <span>Watched Videos</span>
                </a></li>
                <li><a id="uploaded" href=#>
                    <span>Uploaded Videos</span>
                </a></li>
                <li><a id="requests" href=#>
                    <span>Friendship Request</span>
                </a></li>
                <li><a id="friends" href=#>
                    <span>Friends</span>
                </a></li>
            {% elif status == 'friends' %}
                <li><a id="watched" href=#>
                    <span>Watched Videos</span>
                </a></li>
                <li><a id="uploaded" href=#>
                    <span>Uploaded Videos</span>
                </a></li>
                <li><a id="friends" href=#>
                    <span>Friends</span>
                </a></li>
            {% else %}
                <li><a id="uploaded" href=#>
                    <span>Uploaded Videos</span>
                </a></li>
                <li><a id="friends" href=#>
                    <span>Friends</span>
                </a></li>
            {% endif %}
        </ul>
    </nav>

    <script>
        $(document).ready(function(){
            $('#friends').click(function() {
                addActive(this);
                $.get("{% url 'user:friends' profile.id %}?full=false", toggleContent);
                return false;
            });
            $('#uploaded').click(function() {
                addActive(this);
                $.get("{% url 'user:uploaded' profile.id %}?full=false", toggleContent);
                return false;
            });
            $('#watched').click(function() {
                addActive(this);
                $.get("{% url 'user:watched' profile.id %}?full=false", toggleContent);
                return false;
            });
            $('#requests').click(function() {
                addActive(this);
                $.get("{% url 'user:requests' %}?full=false", toggleContent);
                return false;
            });

            function toggleContent(html) {
                $("#profile-content").fadeOut(300, function() {
                    $("#profile-content").empty().append(html);
                    $("#profile-content").fadeIn(200);
                });
            }

            function addActive(elem) {
                $(elem).parent().parent().children().each(function() {
                    $(this).removeClass('active');
                });
                $(elem).parent().addClass('active');
            }

            if (window.location.hash) {
                $(window.location.hash).click();
            } else {
                $("#uploaded").click();
            }
      });

    </script>

    <div id="profile-content">
    </div>

    <script>
    function updateStatus(elem, status) {
        if (status == 'sent')
            $(elem).parent().html("Request Pending");
        else if (status == 'accepted')
            $(elem).parent().html("You are already friends");
        else if (status == 'rejected')
            $(elem).parent().html("<a class='btn site-blue-button' href='#' onclick=\"sendRequest({{ profile.id }});updateStatus(this, 'sent');\">Send request</a>");
    }
    </script>
{% endblock %}
