{% load static %}
<div id="grid-container">

    <div class="row">
        {% for request in friendship_requests_list %}
            <div class="col-sm-2 grid-item-container">
                <div class="user-profile-image">
                    <a href="{% url 'user:profile' request.sender.user.id %}">
                        <img src="{% static 'images/profile_picture_placeholder.jpg' %}" />
                    </a>
                </div>
                <div class="grid-holder">
                    <span class="user-profile-name">
                        <a href="{% url 'user:profile' request.sender.user.id %}">
                            {{ request.sender.user.get_full_name }}
                        </a>
                    </span>
                    <span class="user-profile-date">
                        {{ request.sent_date|date:"M d, Y f" }}
                    </span>
                    <span>
                        <button class="notification" href=# onclick='acceptRequest({{request.id}})'>Accept</a>
                        <button class="notification" href=# onclick='rejectRequest({{request.id}})'>Reject</a>
                    </span>
                </div>
            </div>
        {% empty %}
            <p>You don't have any Friendship Request.</p>
        {% endfor %}
    </div>

</div>
