{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Amigos de {{ request.user.get_full_name }}</title>
  <link rel='stylesheet' href="{% static 'user/css/style.css' %}" />
{% endblock %}

{% block content %}
  {% if friendship_list %}
      <h1>Relaciones de amistad</h1>

      <table class="uk-table">
      <tr>
        <td><strong>Usuario</strong></td>
      </tr>
      {% for friend in friendship_list %}
          <tr>
            <td><a href="/user/{{ friend.user.id }}/">{{ friend.user.get_full_name }}</a></td>
          </tr>
      {% endfor %}
      </table>
  {% else %}
      <p>No tienes ninguna relación de amistad. <a href="/user/list/">¿Te gustaría enviar una solicitud de amistad?</a></p>
  {% endif %}
{% endblock %}
