{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Usuarios</title>
        <link rel='stylesheet' href="{% static 'user/css/style.css' %}" />
    </head>
    <body>
    {% if users_list %}

        <table class="uk-table">
        <tr>
          <td><strong>Usuario</strong></td>
          <td></td>
        </tr>
        {% for user in users_list %}
            <tr>
              <td><a href="/user/{{ user.id }}/">{{ user.first_name }} {{ user.last_name }}</a></td>
              <td><a href="{% url 'user:request_send' %}?id={{ user.id }}">Enviar solicitud</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No hay usuarios registrados</p>
    {% endif %}
    </body>
</html>
