<!DOCTYPE html>
<html>
  <head>
    <title>Django Chat Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/chat_room/css/normalize.css" />
    <link href="/static/chat_room/css/main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">

      jsonData = {{data}};
    </script>
   <script data-main="/static/chat_room/dist/scripts/main" type="text/javascript" src="/static/chat_room/dist/scripts/vendor/requirejs/require.js"></script>

  </head>
  <body>
    {% block body %}
    <h1>Hello, world!</h1>



    {% endblock body %}

  </body>
</html>
