<ol id="messages-content">
    {% for message in messages %}
        {% if message.author.id == user_id %}
          <li class='self'>
        {% else %}
          <li class='other'>
        {% endif %}
            <div class='bubble'>
                <div class='user'>
                    <a href='{% url 'user:profile' message.author.id %}'>{{ message.author.get_full_name }}</a>
                </div>
                <hr/>
                <div class='message-text'>{{ message.msg }}</div>
                <div class='message-date'>{{ message.date_published.isoformat }}</div>
            </div>
        </li>
    {% endfor %}
</ol>

<div id="chat-footer">
    <button id="msg_submit" onclick='sendMessage()'>Send</button>
    <div id="chat-input-container">
        <input title="Type a message..." id="chat-input" />
    </div>
</div>

<script>
    var chat_room_id = {{ chat_room_id }};
    var user_id = {{ user_id }};

    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    //noinspection JSUnusedAssignment
    var chat_room_socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat_room/" + chat_room_id);


    $(document).ready(function() {
        $('.message-date').each(function() {
            var date = new Date($(this).text());
            $(this).text(date.toLocaleTimeString());
        });

        var messages_content = $("#messages-content");
        messages_content.stop( true, true ).animate({scrollTop: messages_content[0].scrollHeight}, 500);
    });

    chat_room_socket.onmessage = function(message) {
        var data = JSON.parse(message.data);

        var date = new Date(data.date);

        var li_class;

        if (data.user_id === user_id)
            li_class = "self";
        else
            li_class = "other";

        var messages_content = $("#messages-content");

        messages_content.append(
            "<li class='"+ li_class +"'>"
                +"<div class='bubble'>"
                    + "<div class='user'><a href='" + getUserProfile(data.user_id) + "'>" + data.user + "</a></div>"
                    + "<hr/>"
                    + "<div class='message-text'>" + data.msg + "</div>"
                    + "<div class='message-date'>" + date.toLocaleTimeString() + "</div>"
                + "</div>"
            + "</li>");

        messages_content.stop( true, true ).animate({scrollTop: messages_content[0].scrollHeight}, 500);
    };

    $(function() {
        var msg_submit = $('#msg_submit');

        msg_submit.attr('disabled', 'disabled');
        $('#chat-input').keyup(function() {
            $(this).each(function() {
                if ($(this).val().replace(/\s/g, "") .length == 0) {
                    msg_submit.attr('disabled', 'disabled');
                } else {
                    msg_submit.removeAttr('disabled');
                }
            });
        });
    });

    function sendMessage() {
        var chat_input = $("#chat-input");
        var msg = chat_input.val();

        var message = {
            msg: msg
        };

        chat_room_socket.send(JSON.stringify(message));
        chat_input.val('').focus();
        return false;
    }

    $('#chat-input').keydown(function (event) {
        var key = event.keyCode || event.which;
        if (key == 13) {
            if ($(this).val().replace(/\s/g, "") .length !== 0)
                sendMessage();
        }
    });
</script>
