{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Chat</title>
  <link rel='stylesheet' href="{% static 'user/css/style.css' %}" />
{% endblock %}

{% block content %}
    <input id="ms" />
    <button id="btn" onclick='sendMessage()'>Send</button>

    <ul id="comments"></ul>

    <script>
    var last_seen_id = null;

    function updateChat( data ) {
        for (var i in data) {
            $("#comments").append("<li>USER = " + data[i].user +
                                  " COMMENT = " + data[i].msg +
                                  " TIME = " + data[i].date + "</li>");
            last_seen_id = data[i].id;
        }
    }

    $(function() {
        $('#btn').attr('disabled', 'disabled');
        $('#ms').keyup(function() {
            $('#ms').each(function() {
                if ($(this).val().replace(/\s/g, "") .length == 0) {
                    $('#btn').attr('disabled', 'disabled');
                } else {
                    $('#btn').removeAttr('disabled');
                }
            });
        });

        function getNewComments() {
            $.post( "/chat_room/{{ id }}/api/", {
                last_seen_id: last_seen_id
            }).done(function( data ) {
                updateChat( data );
            });

            setTimeout( getNewComments, 3000 );
        }

        getNewComments();

    });

    function sendMessage() {
        var msg = $("#ms").val();

        $.post( "/chat_room/{{ id }}/api/", {
            msg: msg,
            last_seen_id: last_seen_id
        }).done(function( data ) {
            updateChat( data );
        });
    }
    </script>
{% endblock %}
