{% extends "base.html" %}

{% block head %}
    <title>Videos</title>
{% endblock %}

{% block content %}

    <p> Most viewed. </p>
    {% for video in most_viewed %}
        {% include "preview_video.html" with preview_video=video only %}
    {% empty %}
        <p>Nothing here...</p>
    {% endfor %}

    <p> Friends are watching.</p>
    {% for video in friend_watching %}
        {% include "preview_video.html" with preview_video=video preview_user="Friend" only %}
    {% empty %}
        <p>Nothing here...</p>
    {% endfor %}

{% endblock %}
