{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Videos</title>
{% endblock %}

{% block content %}

    <p> Most viewed. </p>
    {% for video in most_viewed %}
        <div class="col-sm-2 grid-item-container">
            <a href="{% url 'video:player' video.pk %}">
                <div class="video-thumbnail">
                    <img src="{{ video.thumbnail.url }}" />
                </div>
            </a>
            <div class="grid-holder">
                <span class="video-name">
                    {{ video.title }}
                </span>
            </div>
        </div>
    {% empty %}
        <p>Nothing here.</p>
    {% endfor %}

    <p> Friends are watching.</p>
    {% for video in watching %}
        <div class="col-sm-2 grid-item-container">
            <a href="{% url 'video:player' video.pk %}">
                <div class="video-thumbnail">
                    <img src="{{ video.thumbnail.url }}" />
                </div>
            </a>
            <div class="grid-holder">
                <span class="video-name">
                    {{ video.title }}
                </span>
            </div>
        </div>
    {% empty %}
        <p>You don't have friends</p>
    {% endfor %}

{% endblock %}
