<!DOCTYPE html>
{% extends "base.html" %}
{% load static chat_room_tags %}
{% block head %}
  <title>Videos</title>
  <link rel='stylesheet' href="{% static 'video/css/style.css' %}" />
  <link rel='stylesheet' href="{% static 'video/css/player.css' %}" />
{% chat_room_headers %}
{% endblock %}
{% block content %}
    <h3><strong> {{ video.title }} </strong></h3>
    <div id="player-container">
        <div id="video-container">
            <video preload="auto" controls autoplay>
            <source src="{{ video.video_file.url }}">
            Your browser does not support HTML5 video.
            </video>
            <blockquote> {{ video.description }} </blockquote>
        </div>
        <div id="chat-room-container">
            {% show_chat_room video.pk %}
        </div>
    </div>
{% endblock %}
