{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Upload video</title>
  <link rel='stylesheet' href="{% static 'user/css/style.css' %}" />
{% endblock %}

{% block content %}
  <fieldset>
    <legend>START</legend>
    <form action="/video/upload/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Video Name</p>
      <input name="title" type="text" required autocomplete="off"/>
      <br>
      <p>Description</p>
      <input name="description" type="text" required autocomplete="off"/>
      <br>
      <p>DocumentFile</p>
      <input name="video_file" type="file" required autocomplete="off"/>
      <br>
      {% if error %}
        <p class="error-message">{{ error }}</p>
      {% endif %}
      <p><input type="submit" value="Upload"/></p>
    </form>
  </fieldset>
{% endblock %}
