{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Upload video</title>
  <link rel='stylesheet' href="{% static 'user/css/style.css' %}" />
{% endblock %}

{% block content %}
  <fieldset>
    <legend>List of videos:</legend>
    {% if documents %}
      <ul>
        {% for document in documents %}
          <li><a href="{{ document.document_file.url }}">{{ document.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}
  </fieldset>

  <fieldset>
    <legend>START</legend>
    <form action="/video/list/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Video Name</p>
      <input name="title" type="text" required autocomplete="off"/>
      <br>
      <p>Description</p>
      <input name="description" type="text" required autocomplete="off"/>
      <br>
      <p>DocumentFile</p>
      <input name="document_file" type="file" required autocomplete="off"/>
      <br>
      <p><input type="submit" value="Upload"/></p>
    </form>
  </fieldset>
{% endblock %}
