{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="{% static 'js/csrf_ajax.js' %}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>

    {% if user and user.is_authenticated %}
        {# Top bar #}
        <div id="header-container" class="clearfix">
            <div id="header">
                <a href="/" id="header-logo"></a>
                <div id="header-user">
                    <a href="{% url 'video:upload' %}" id="header-upload" class="btn site-button">Upload</a>
                    <div id="notification-container" class="dropdown">
                        <button id="header-notification-bell" class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="notification-count">0</span>
                        </button>
                        <ul id="notification-list" class="dropdown-menu pull-right" role="menu" aria-labelledby="header-notification-bell">
                            <li><a role="menuitem" tabindex="-1" href="#">No notifications</a></li>
                        </ul>
                    </div>
                    <div id="header-account-container" class="dropdown">
                        <button id="header-account" title="{{ user.first_name }} {{ user.last_name }}" class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <img id="user-profile-image" class="img-circle" src="{{ user.avatar.url }}" />
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="header-account">
                            <li><a role="menuitem" tabindex="-1" href="{% url 'user:profile' user.id %}">My Profile</a></li>
                            <li><a role="menuitem" tabindex="-1" href="{% url 'user:friends' user.id %}">My Friends</a></li>
                            <li class="divider"></li>
                            <li><a role="menuitem" tabindex="-1" href="{% url 'login:logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div id="header-search-bar">
                    <form action="{% url 'search:search' %}">
                        <button id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <div id="header-search-term-container">
                            <input name="key" id="header-search-term" autocomplete="off" autofocus="" required value="" type="text" tabindex="1" placeholder="Search..." title="Search..." aria-label="Search..." dir="ltr" spellcheck="false" style="outline: none;">
                        </div>
                    </form>
                </div>
                <div id="results-container">
                    <ul id="search-list" class="ui-front">
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    {% if user and user.is_authenticated %}
        <script language="JavaScript">
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var friendship_socket = new WebSocket(ws_scheme + '://' + window.location.host + "/friendship/");

            var notification_count = $(".notification-count");

            function getUserProfile(id) {
                var user_profile_url = "{% url 'user:profile' 0 %}";
                return user_profile_url.replace(/0/, id.toString());
            }

            friendship_socket.onmessage = function(message) {
                var data = JSON.parse(message.data);

                if (data.length > 0) {
                    if (!$("#header-notification-bell").hasClass('active')) {
                        $("#header-notification-bell").addClass('active');
                        $("#notification-list").empty();
                    }

                    notification_count.text(parseInt(notification_count.text()) + data.length);

                    for (var i in data) {
                        $("#notification-list").prepend(
                                "<li class='notification'>"
                                    + "<a href='"+ getUserProfile(data[i].user_id) +"'>" + data[i].user+ "</a>"
                                    + "<button class='btn site-blue-button' onclick='remove(this);acceptRequest(" + data[i].id +")'>Accept</button>"
                                    + "<button class='btn site-white-button' onclick='remove(this);rejectRequest(" + data[i].id +")'>Reject</button>"
                                + "</li>"
                        );
                    }
                }
            };

            function remove(link) {
                link.parentNode.parentNode.removeChild(link.parentNode);
            }

            function decrementNotificationCount() {
                if (notification_count.text() > 0)
                    notification_count.text(parseInt(notification_count.text()) - 1);

                if (notification_count.text() === '0') {
                    if ($("#header-notification-bell").hasClass('active')) {
                        $("#header-notification-bell").removeClass('active');
                        $("#notification-list").append(
                                "<li><a role='menuitem' tabindex='-1' href='#'>No notifications</a></li>"
                        );
                    }
                }
            }

            function acceptRequest(id) {
                var message = {
                    method: 'accept',
                    id: id
                };
                friendship_socket.send(JSON.stringify(message));
                decrementNotificationCount();
            }

            function rejectRequest(id) {
                 var message = {
                    method: 'reject',
                    id: id
                };
                friendship_socket.send(JSON.stringify(message));
                decrementNotificationCount();
            }

            function sendRequest(id) {
                var message = {
                    method: 'send',
                    id: id
                };
                friendship_socket.send(JSON.stringify(message));
            }
        </script>
    {% endif %}
    </body>
</html>
