{% comment %}
    Usage with
    preview_video: video to display preview
    preview_user: if present, show user on top of thumbnail
    preview_delete: if equal to True, show delete button
{% endcomment %}

<div class="col-xs-11 col-sm-4 col-md-2 col-lg-1 grid-item-container">
    {% if preview_user %}
        <p> preview_user </p>
    {% endif %}
    <a href="{% url 'video_room:player' preview_video.pk preview_video.pk %}">
        <div class="video-thumbnail">
            <img src="{{ preview_video.thumbnail.url }}" />
        </div>
    </a>
    <div class="grid-holder">
        <span class="video-name">
                <a href="{% url 'video:player' preview_video.pk %}">
                {{ preview_video.title }}
            </a>
        </span>
        <span class="video-description">
            {{ preview_video.description }}
        </span>
        {% if preview_delete == "True" %}
            <a class="btn btn-delete" href="{% url 'video:delete' %}?id={{ video.id }}">
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
</div>
