{% extends "base.html" %}

{% block head %}
    <title>Videos</title>
{% endblock %}

{% block content %}

    <h1> Friends are watching.</h1>
    {% for friend in friend_watching %}
        {% include "preview_video.html" with preview_video=friend.room.video preview_user=friend only %}
    {% empty %}
        <p>Nothing here...</p>
    {% endfor %}

    <h1> Most viewed. </h1>
    {% for video in most_viewed %}
        {% include "preview_video.html" with preview_video=video only %}
    {% empty %}
        <p>Nothing here...</p>
    {% endfor %}

{% endblock %}
