{% extends "base.html" %}
{% load static chat_room_tags %}

{% block head %}
    <title>Videos</title>
    <link rel='stylesheet' href="{% static 'video_room/css/player.css' %}" />
    <link href="http://vjs.zencdn.net/5.8.8/video-js.min.css" rel="stylesheet">
    {% chat_room_headers %}
{% endblock %}

{% block content %}
    <h3><strong> {{ video.title }} </strong></h3>
    <!--<div id="change-video-container" class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
            Change video
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for video_item in video_list %}
                <li><a role="menuitem" href="{% url 'video_room:join' room.id %}">{{ video_item.title }}</a></li>
            {% empty %}
                <li>There are no more videos available.</</li>
            {% endfor %}
        </ul>
    </div>-->
    <div id="player-container">
        <div id="video-container">
            <video id="player" class="video-js" controls preload="auto" data-setup="{}">
                <source src="{{ room.video.video_file.url }}">
                Your browser does not support HTML5 video.
            </video>
            {% if room.video.description %}
                <blockquote> {{ room.video.description }} </blockquote>
            {% endif %}
        </div>
        <div id="chat-room-container">
            {% show_chat_room room.id %}
        </div>
    </div>
    <script src="http://vjs.zencdn.net/5.8.8/video.min.js"></script>
    <script>
        var video_room_id = {{ room.id }};

        // When we're using HTTPS, use WSS too.
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        //noinspection JSUnusedAssignment
        var video_room_socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/video_room/" + video_room_id);

        var locked = false;

        videojs("player").ready(function () {
            var player = document.getElementById("player_html5_api");

            player.addEventListener('loadedmetadata', function() {
                video_room_socket.onmessage = function(message) {
                    var data = JSON.parse(message.data);

                    locked = true;

                    if (Math.abs(player.currentTime - data.current_time) > 0.2)
                        player.currentTime = data.current_time;

                    if (data.paused == true && !player.paused)
                        player.pause();
                    else if (data.paused == false && player.paused)
                        player.play();
                    else
                        locked = false;
                };

                player.onplay = function(){
                    if (locked) {
                        locked = false;
                        return true;
                    }

                    var message = {
                        paused: false,
                        current_time: player.currentTime
                    };

                    video_room_socket.send(JSON.stringify(message));
                    return true;
                };

                player.onpause = function(){
                    if (locked) {
                        locked = false;
                        return true;
                    }

                    var message = {
                        paused: true,
                        current_time: player.currentTime
                    };

                    video_room_socket.send(JSON.stringify(message));
                    return true;
                };

                player.onended = function(){
                    if (locked) {
                        locked = false;
                        return true;
                    }

                    player.currentTime = 0;
                    var message = {
                        paused: true,
                        current_time: 0
                    };

                    video_room_socket.send(JSON.stringify(message));
                };
            }, false);
        });
    </script>
    <script src="{% static 'video_room/js/player.js' %}"></script>
{% endblock %}
