{% extends "base.html" %}
{% load static chat_room_tags %}

{% block head %}
    <title>Videos</title>
    <link rel='stylesheet' href="{% static 'video_room/css/player.css' %}" />
{% chat_room_headers %}
{% endblock %}

{% block content %}
    <h3><strong> {{ video.video.title }} </strong></h3>
    <div id="change-video-container" class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
            Change video
        </button>
        <ul class="dropdown-menu" role="menu">
            {% if videos %}
                {% for video_item in videos %}
                    <li><a role="menuitem" href="{% url 'video_room:player' video_item.id chat %}">{{ video_item.title }}</a></li>
                {% endfor %}
            {% else %}
                <li> Don't exists more videos </li>
            {% endif %}
        </ul>
    </div>
    <div id="player-container">
        <div id="video-container">
            <video preload="auto" controls autoplay>
                <source src="{{ video.video.video_file.url }}">
                Your browser does not support HTML5 video.
            </video>
            <blockquote> {{ video.video.description }} </blockquote>
        </div>
        <div id="chat-room-container">
            {% show_chat_room chat %}
        </div>
    </div>
{% endblock %}
