{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Login in VinVC</title>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" />
{% endblock head %}

{% block content %}
<video playsinline autoplay muted loop poster="{% static 'login/video/placeholder.jpg' %}" id="bgvid">
    <source src="{% static 'login/video/bg.mp4' %}" type="video/mp4">
</video>

<div id="content">
    <div id="text">
        <h1>
            <span id="typed-placeholder"><strong>VinVC</strong> is not</span>
            <span id="typed"></span><br/>Video Chat</h1>
    </div>
    <div id="login-form">
        <h3>Welcome to VinVC</h3>

        <div class="social-buttons">
            <a class="btn btn-google" href="{% url "social:begin" 'google-oauth2' %}" role="button">
                <span class="fa fa-google"></span>Sign in with Google</a>
            <a class="btn btn-facebook" href="{% url "social:begin" 'facebook' %}" role="button">
                <span class="fa fa-facebook"></span>Sign in with Facebook</a>
            <a class="btn btn-twitter" href="{% url "social:begin" 'twitter' %}" role="button">
                <span class="fa fa-twitter"></span>Sign in with Twitter</a>
        </div>

        <div class="strike-message"><span>or</span></div>

        <form class="register-form" action="{% url 'login:signup' %}" method="post">
            {% csrf_token %}
            <input type="text" name="first_name" required placeholder="First Name"/>
            <input type="text" name="last_name" required placeholder="Last Name"/>
            <input type="text" name="email" required placeholder="Email Address"/>
            <input type="password" name="password" required placeholder="Password"/>
            <button class="btn">Sign Up</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>

        <form class="login-form" action="{% url 'login:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" required placeholder="Email or Username"/>
            <input type="password" name="password" required placeholder="Password"/>
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <button class="btn">Log in</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>

<script src="{% static 'login/js/index.js' %}"></script>
<script src='{% static 'login/js/typed.js' %}'></script>
<script>
$(function() {
    $("#typed-placeholder").hide();
    $("#typed").typed({
        strings: ["^1000<strong>VinVC</strong> is not"],
        typeSpeed: 0
    });
});
</script>
{% endblock content %}
