#profile-header-container {
    background: #1B1A42;
    padding: 20px;
    margin: -10px -20px 0 -20px;
}

#profile-header {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

#profile-header-image-container {
    position: relative;
    float: left;
}

#profile-header-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

#profile-header-image + span {
    font-family: 'Roboto', sans-serif;
    background: #5a2ca0;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#profile-header-image + span:after {
    position: absolute;
    left: 50%;
    top: -8px;
    width: 0;
    height: 0;
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #5a2ca0;
    transform: translateX(-50%);
}

#profile-header-info-container {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    color: white;
    padding-right: 100px;
}

#member-status {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#member-status span {
    font-weight: bold;
}

#profile-header-info-container > span {
    display: table-cell;
    padding: 0 30px;
}

#profile-header-info-container .value {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

#profile-header-info-container .text {
    display: block;
    text-align: center;
}

#user-status {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

#request-button {
    background: #5392ff;
}

#accept-button {
    background: #53ff92;
}

#reject-button {
    background: #ff5392;
}

#profile-menu {
    padding:1px;
    border-radius:7px;
    background:#D7D7D7;
    background:url("/templates/yoo_yootheme/images/menu_border.svg") 0 0
    repeat-x;
    background-size:100% 100%;
    float:right;
}

.clearfix {
    clear: both;
}
