#profile-header-container {
    background: #1B1A42;
    padding: 20px;
    margin: -10px -20px 0 -20px;
}

#profile-header {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
}

#profile-header-image-container {
    position: relative;
    float: left;
}

#profile-header-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

#profile-header-image + span {
    font-family: 'Roboto', sans-serif;
    background: #5a2ca0;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#profile-header-image + span:after {
    position: absolute;
    left: 50%;
    top: -8px;
    width: 0;
    height: 0;
    content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #5a2ca0;
    transform: translateX(-50%);
}

#profile-header-info-container {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    color: white;
    padding-right: 100px;
}

#member-status {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#member-status span {
    font-weight: bold;
}

#profile-header-info-container > span {
    display: table-cell;
    padding: 0 30px;
}

#profile-header-info-container .value {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

#profile-header-info-container .text {
    display: block;
    text-align: center;
}

#user-status {
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

#request-button {
    background: #5392ff;
    padding: 10px;
}

#accept-button {
    background: #53ff92;
    padding: 7px;
}

#reject-button {
    background: #ff5392;
    padding: 7px;
}

.clearfix {
    clear: both;
}

#menu {
    text-align: center;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: inline-block;
    border-radius: 10px;
}

ul.menu > li {
    float: left;
    font-size: 15px;
}

ul.menu > li:first-child, ul.menu > li:first-child > a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

ul.menu > li:last-child, ul.menu > li:last-child a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.menu a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 14px;
    font-weight: 600;
    line-height: 20px;
    color: #666;
    border: 1px solid #e5e5e5;
    background: white;
}

ul.menu li + li a {
    margin-left: -1px;
}

ul.menu a:hover, ul.menu a:active {
    color: black;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ul.menu a:hover {
    box-shadow: inset 0 2px 10px rgba(255, 255, 255, 0.2);
}

li.active a, ul.menu a:active {
    box-shadow: inset 0 0px 10px rgba(0, 0, 0, 0.2);
    background: #5a2ca0;
    color: white;
}

li.active a:hover {
    color: white;
    box-shadow: none;
}